rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regra de desenvolvimento: permite leitura e escrita para todos.
    // ATENÇÃO: Para produção, restrinja estas regras!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
